<h1 class="center-text">500 INTERNAL SERVER ERROR </h1>
<p class="center-text">What I call poetry is often called content. But if you try the content of visual noise, you're not allowed to enter, you have to find the content of silence.</p>
